################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlackHoleCli/obj
/mikarsoft.png
/BlackHoleCli/bin/Release/net6.0
